@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: glacial;
  src: url("fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: glacialBold;
  font-weight: bold;
  src: url("fonts/GlacialIndifference-Bold.otf") format("opentype");
}

:root {
    --primary: #4b302c;
    --primary2: #F7CFC5;
    --secoundary: #92A99F;
    --secoundary2: #647B68;
    --bg: #FEFBE5;
    --border: 1px solid #4b302c1b;
}
*{
    font-family: Montserrat, sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    
}
@font-face {
    font-family: logo;
    src: url("fonts/Rockness.ttf");
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    
}

body {
    
    background: var(--bg);
    width: 100vw !important;
    overflow-x: hidden;
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--secoundary);
    border-radius: 6px;
}

.navbar{
    background-color: #92a99f !important;
    width: 100%;
    margin-right: 0;
    box-shadow: 1px 12px 40px -1px rgba(0,0,0,0.23);
-webkit-box-shadow: 1px 12px 40px -1px rgba(0,0,0,0.23);
-moz-box-shadow: 1px 12px 40px -1px rgba(0,0,0,0.23);
}

.nav-button {
  font-size: 16px;
  font-weight: bold;
  color: var(--secoundary2);
  background-color: var(--bg);
}

.nav-link {
    font-family: glacialBold;
    font-size: 16pt;
    margin-left: 3px;
    margin-right: 3px;
    color: #FEFBE5 !important;
}

.nav-item .active {
    font-weight: normal;
    text-decoration: underline;
}

.close {
    background-color: var(--secoundary);
}

.close img {
    width: 2rem;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    padding-top: 5vh;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    z-index: 1;
  }

  .header-content {
    height: 100vh;
    position: relative;
    z-index: 3;
  }

  .header-logo h1{
    font-family: logo;
    font-size: 20vh;
    color: var(--bg);
    margin-bottom: -5vh;
    
  }

  .sublogo{
    color: var(--bg) !important;
    font-size: 3vh;
    margin-top: -5rem !important;
    font-weight: 700;

  }

  .header-sub {
    position: relative;
    border-radius: 20px; /* Adjust the border radius as needed */
    overflow: hidden; /* Hide any overflow to ensure rounded corners */
    background: transparent; /* Ensure the background is transparent */
    padding-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    display: inline-block;
}
 


  .header-subdesc, .header-subdesc2 {
    color: var(--bg);
  }

  .header-subdesc {
    font-size: 1.3rem;
  }

  .header-subdesc2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .header-sub p{
    padding-top: 1rem;
    color: var(--bg); 
    font-size: 5vh;
    line-height: .5;
    text-shadow: none !important;
    font-weight: 600;
  }

  

  .header-highlight{
    color: #92A99F ;
    position: relative;
    text-shadow: none !important;
  }

  .bold-header {
    font-weight: 800 !important;
  }

  .header-highlight img{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  .header-desc{
    color: var(--bg);
    font-size: 2vh;
  }


  .header-buttons a {
    width: 12vw !important;
    margin-right: 1rem;
  }

  .header-buttons button{
    color: var(--bg);
    height: 5rem !important;
    width: 5rem !important;
    background-color: transparent;
    margin-left: 2rem !important;
  }



#background-img{
  position: absolute;
    left: 0px;
    top: -90%;
    z-index: -1;
    width: 60%;
}

#background-img img {
  max-width: 60%;
}

#desktop #aboutus {
    height: 100vh;
}
#desktop #aboutus .banner { 
  position: relative;
    background: url("img/aboutus.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto; 
}

#desktop #aboutus .banner .container h1{
    color: white;
    font-size: 10vh;
}

#desktop #aboutus .aboutus-desc{
    padding-top: 4vh;
}

#desktop #aboutus .aboutus-desc p{
    font-family: glacial;
    color: var(--primary);
    font-size: 18pt;
    text-shadow: none !important;
}

#desktop #aboutus .aboutus-desc .aboutus-button{
    float: right;
}

#desktop #about-us .banner { 
  position: relative;
    background: url("img/aboutus.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto; 
}

.about-us-sec {
  margin-top: 20rem;
}

#desktop #about-us .banner .container h1{
  color: white;
  font-size: 10vh;
}

#desktop #about-us .aboutus-desc{
  padding-top: 4vh;
}

#desktop #about-us .aboutus-desc p{
  font-family: glacial;
  color: var(--primary);
  font-size: 16pt;
  text-shadow: none !important;
}


.desktop-button{
    font-size: 1.8rem !important;
    color: var(--secoundary2);
}


#desktop #package-home {
    height: 100vh;
}
#desktop #package-home .banner { 
  position: relative;
    background: url("img/partypackage.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto; 
    position: relative; 
}

#desktop #package-home .banner .container h1{
    color: white;
    font-size: 10vh;
}

#desktop #package-home .package-desc{
    padding-top: 4vh;
}

#desktop #package-home .package-desc p{
    font-family: glacial;
    color: var(--primary);
    font-size: 16pt;
    text-shadow: none !important;
}

#desktop #package-home .package-desc .package-button{
    float: right;
    margin-top: 5vh;
}

.desktop-button{
    font-size: 4vh;
    color: var(--bg);
    background-color: var(--secoundary2);
}

#desktop #fella {
    height: 100vh;
}
#desktop #fella .banner { 
  position: relative;
    background: url("img/ellasfella.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; 
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto; 
    position: relative; 
}

#desktop #fella .banner .container h1{
    color: white;
    font-size: 10vh;
}

#desktop #fella .fella-desc{
    padding-top: 4vh;
}

#desktop #fella .fella-desc p{
    font-family: glacial;
    font-size: 16pt;
    text-shadow: none !important;
    color: var(--primary)
}

#desktop #fella .fella-desc .fella-button{
    float: right;
    margin-top: 5vh;
}


#fella-page{
  margin-top: 8vh;
}

#fella-page .page-banner {
  height: 100vh;
}

#desktop #fella-page .banner { 
  
  position: relative;
    background: url("img/ellasfella.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; 
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto; 
    position: relative; 
}

#desktop #fella-page .banner .container h1{
    color: white;
    font-size: 10vh;
}

#desktop #fella-page.fella-desc{
    padding-top: 4vh;
}

#desktop #fella-page .fella-desc p{
    margin-top: 5rem;
    font-family: glacial;
    font-size: 16pt;
    text-shadow: none !important;
}


.desktop-button{
    font-size: 3rem;
    color: var(--bg);
}

#location {
    height: 100vh;
}

.location-header {
    font-size: 10vh;
    color: var(--secoundary);
}

.location-icon{
    width: 10vh;
    margin-bottom: 5rem;
}

.location-h2{
    font-size: 16pt;
    font-family: glacialBold;
    color: var(--secoundary2);
}

.location-p {
    font-size: 10pt;
    font-family: glacial;
    color: var(--primary);
    text-shadow: none !important;
}

.location-button button {
    font-size: 15.9pt;
    font-family: glacialBold;
    background-color: var(--secoundary2);
    border-radius: .5rem;
    padding: 0 3rem;
    margin-bottom: 5rem;
    color: var(--bg);
}

#faqs {
    height: 100vh;
}

.faqs-header {
    font-size: 10vh;
    color: var(--secoundary);
}

.faqs-icon{
    width: 10vh;
    margin-bottom: 5rem;
}

.faqs-h2{
    font-size: 16pt;
    font-family: glacialBold;
    color: var(--secoundary);
}

.faqs-p {
    font-size: 16pt;
    font-family: glacial;
    color: var(--primary-);
    margin-bottom: 5vh;
    text-shadow: none !important;
}

#footer {
    border-top: var(--border);
    background-color: var(--bg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
}

.footer-icons{
  width: 5rem;
  aspect-ratio: 1 / 1;
  border: var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.footer-icons a {
  font-size: x-large;
}

.footer-button {
    font-family: glacialBold;
    font-size: 16pt;
}


#about-us {
    min-height: 100vh;
    margin-top: 10vh;
    width: 100vw;
}

.page-title{
    font-size: 3rem;
    color: var(--secoundary);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.flip {
    -webkit-perspective: 800;   
            perspective: 800;
          position: relative;
          text-align: center;
  }
  .flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
            border: solid 4px var(--secoundary);
            border-radius: 5rem;
  }
  .flip .card {
      width: 75%;
      height: 30rem;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
      background-color: var(--bg);
      border: none !important;
     
  }
  .flip .card .face {
    -webkit-backface-visibility: hidden ;
      backface-visibility: hidden ;
     z-index: 2;
  }
  .flip .card .front {
     position: absolute;
     width: 100%;
     z-index: 1;
  }

  .flip .card .back {
    padding-top: 10%;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
    border: solid 4px var(--secoundary);
    border-radius: 5rem;
  }

 .back1 {
    background-image: url(img/card1.jpg);
  }

.back2 {
    background-image: url(img/card2.jpeg);
  }

.back3 {
    background-image: url(img/card3.png);
  }
  
  .inner{
    margin:0px !important;
    width: 100%;
  }

  .card-inner1 {
    position: relative;
    height: 100%;
    background-image: url("img/card1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border: solid 4px var(--secoundary);
    border-radius: 5rem;
  }
  .card-inner2 {
    position: relative;
    height: 100%;
    background-image: url("img/card2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border: solid 4px var(--secoundary);
    border-radius: 5rem;
  }
  .card-inner3 {
    height: 100%;
    background-image: url("img/card3.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border: solid 4px var(--secoundary);
    border-radius: 5rem;
  }

  .card-text h3{
    font-size: 2rem;
    color: var(--bg);
  }

  .card{
    background-color: var(--secoundary2);
  }

  .card-desc {
    padding-top: 2rem;
  }
  .card-desc p {
    font-size: 2rem;
    color: var(--secoundary);
    font-weight: bold;
    text-shadow: none !important;
  }

  .inner-carousel img{
    width: 20rem;
  }

  #carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  
  
  .carousel-title h1{
    font-size: 5rem;
    color: var(--secoundary);
    margin-bottom: 5rem;
  }

  .slider-for div{
    min-height: 50vh;
    width: 90vw;
  }

  .slider div{
    display: flex;
    align-items: center;
  }

  .slider div h3{
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--secoundary2);

  }

  .slick-slide h3 {
    height: 100%;
  }
  .slider-for div h3{
    height: 100%;
    font-size: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .slider-nav{
    align-self: center;
    width: 90vw;
  }
  .slider-nav div {
    height: 10rem;
    margin-left: 1rem;
    
  }

  .slider .carousel1 {
    position: relative;
    background-image: url("img/carousel1.JPG");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }
  .slider .carousel2 {
    position: relative;
    background-image: url("img/carousel2.JPG");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }
  .slider .carousel3 {
    position: relative;
    background-image: url("img/carousel3.JPG");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }
  .slider .carousel4 {
    position: relative;
    background-image: url("img/carousel4.JPG");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }
  .slider .carousel5 {
    position: relative;
    background-image: url("img/carousel5.JPG");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }

  #package{
    padding-top: 10rem;
  }

  .package-card {
    height: 100%;
    padding-bottom: 20rem;
    border: solid 3px white;
    border-radius: 2rem;
    background-color: #ffe0f3;
    width: 70%;
    position: relative;
  }

  .package-card img {
    height: 20vw;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .package-card .card-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 1rem;
    left: -3rem;
  }

  .package-card .card-title .text-title{
    padding: 1rem;
    background-color: #ffe0f3;
    color: var(--secoundary);
    font-size: 2rem;
  }

  .card-body .price{
    color: var(--secoundary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
  }

  .card-list {
    padding-left: 3rem;
  }

  .card-list li {
    color: var(--secoundary);
    font-size: 1.7rem;
  }
  
  .card-avail {
    border-radius: 1rem;
    font-size: 3rem;
    background-color: var(--secoundary);
    color: white;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }

  .package-title {
    font-size: 7rem;
    margin-bottom: 5rem;
    color: var(--secoundary);
  }

  #fella{
    height: 100vh;
    padding-top: 10rem;
  }

  .fella-title {
    font-size: 7vh;
    margin-bottom: 5rem;
    color: var(--secoundary);
  }

  .fella-img {
    display: flex;
    justify-content: center;
  }

  .fella-img img{
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 10vw;
    width: 10vw;
    border: solid 3px var(--secoundary);
  }

  .fella-text h1{
    font-size: 1.8vw;
    color: var(--secoundary);
    text-shadow: none !important;
  }

  .fella-text p {
    font-size: 1.5vw;
    color: var(--secoundary);
    text-shadow: none !important;
  }




  .fella-2nd {
    background-color: var(--secoundary);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fella-2nd .fella-text h1, .fella-2nd .fella-text p{
    color: var(--bg);
  }

  #contact {
    height: 80vh;
  }

  .contact-title {

    color: var(--secoundary);
    font-size: 23pt;
    font-family: glacialBold;
    margin-top: 5rem;
    margin-bottom: 5vh;
  }

  .contact-form {
    width: 70vw;
  }

  .contact-form label {
    font-size: 12pt;
    font-family: glacial;
    color: var(--primary);
  }

  .contact-form input, textarea {
    background-color: transparent;
    color: var(--primary);
    width: 100%;
    font-size: 10pt;
    border-radius: 1rem;
    border: var(--border);
    margin-bottom: 3rem;
  }

  .contact-form textarea {
    height: 80%;
  }

  .contact-form button {
    color: white;
    background-color: var(--bg);
    color: var(--primary);
    width: 30%;
    border: var(--border);
    font-size: 15.9pt;
    font-family: glacial;
    border-radius: .5rem;
  }



  .download-title {
    font-family: glacialBold;
    margin-top: 5rem;
    color: var(--bg);
    margin-bottom: 5rem;
  }

  .download-title h1 {
    font-size: 30pt;
    font-weight: bold;
  }

  .download-video video {
    width: 70%;
    border-radius: 3rem;
    margin-bottom: 2rem;
    max-height: 100%;
  }


  /* mobile view */



  

  #mobile-video{
    margin-top: 120px;
    height: 50vw;
    border-radius: 2.5rem;
  }

  .hero-logo h1{
    font-family: logo;
    font-size: 20vw;
    color: var(--secoundary);
  }

  .hero-sub{
    font-size: 5vw;
    
  }

  .hero-sub p {
    color: black;
    text-shadow: none !important;
  }

  .hero-sub .child1{
    line-height: 1rem;
  }

  .hero-highlight{
    color: var(--secoundary2);
    position: relative;
  }

  .hero-highlight img {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .hero-desc {
    font-size: 1.5rem;
  }

  .hero-buttons a img {
    width: 15rem;
  }
  
  .hero-buttons button{
    width: 5rem;
    background-color: transparent;
  }

  #mobile-aboutus{
    height: 100vh;
    width: 100vw;
  }

  #mobile-aboutus .banner{
    position: relative;
    background-image: url("img/aboutus.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    height: 40%;
  }


  .mobile-text .col-12 h1{
    font-size: 12pt;
    font-family: glacialBold;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .mobile-text .aboutus-desc p{
    margin-top: 2rem;
    font-size: 10pt;
    font-family: glacial;
    color: var(--primary) !important;
    text-shadow: none !important;
    padding-left: 1rem;
    padding-right: 1rem;

  }

.mobile-text .col-12 h1, .mobile-text .aboutus-desc p{
  color: white;
  text-shadow: 3px 1px 2px rgba(128, 128, 128, 1);
}

.mobile-text .aboutus-desc{
  position: relative;
}

.mobile-button {
  position: absolute;
  right: -5rem;
  transform: translate(-50%);
}

.mobile-button button {
  font-size: 12pt !important;
  font-family: glacialBold;
}

#mobile-package {
  height: 100vh;
  width: 100vw;
  margin-top: 10rem;
}

#mobile-package .banner {
  position: relative;
  background-image: url("img/partypackage.JPG");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  height: 40%;
}

.mobile-text .package-desc p{
  margin-top: 5rem;
  font-size: 14pt;
  color: var(--primary) !important;
  text-shadow: none !important;
  font-family: glacial;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mobile-text .col-12 h1, .mobile-text .package-desc p{
color: white;
text-shadow: 3px 1px 2px rgba(128, 128, 128, 1);
}

.mobile-text .package-desc{
  position: relative;
}

#mobile-fella {
  height: 100vh;
  width: 100vw;
  margin-top: 10rem;
}

#mobile-fella .banner{
  position: relative;
  background-image: url("img/ellasfella.JPG");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  height: 40%;
}

.mobile-text .fella-desc p{
  margin-top: 2rem;
  font-size: 10pt;
  font-family: glacial;
  color: var(--primary) !important;
  text-shadow: none !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mobile-text .col-12 h1, .mobile-text .fella-desc p{
color: white;
text-shadow: 3px 1px 2px rgba(128, 128, 128, 1);
}

.mobile-text .fella-desc{
  position: relative;
}


#mobile-location{
  margin-bottom: 10rem;
  width: 100vw;
  margin-top: 5rem;
  overflow-x: hidden;
}

.location-text .col-12 h1 {
  font-size: xx-large !important;
}

.location-text p {
  text-shadow: none !important;
}

.mobile-h2 {
  color: var(--secoundary);
  font-weight: bold;
  font-size: normal;
}

.mobile-p {
  color: var(--secoundary);
  font-size: small;
}

.location-btn button {
  font-size: small;
  color:  white;
  background-color: var(--secoundary);
  border-radius: 5px;
}

#mobile-contact {
  height: 100vh;
  width: 100vw;
}

#mobile-contact .contact-title {
  font-size: x-large !important;
}

.mobile-contact-row label{
  font-size: small;
}

.mobile-contact-row button {
  font-size: large;
}

#mobile-download {
  width: 100vw;
}

#mobile-download .download-title{
  margin-top: -5rem;
  font-size: 20pt;
  font-family: glacialBold;
  font-weight: bold;

}

#mobile-download .download-video{
  width: 100vw;
  max-height: 100%;
}

#mobile-download .download-video video {
  width: 90vw;
  border-radius: 2rem;
  max-height: 100%;
}

#mobile-footer {
  border-top: var(--border);
  width: 100%;
  background-color: var(--bg);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  bottom: 0;
}

.mobile-footer-icons{
  width: 5rem;
  aspect-ratio: 1 / 1;
  border: var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.mobile-footer-button {
  font-size: 12pt !important;
  font-family: glacialBold;
}

#mobile-partypackage{
  padding-top: 10rem;
  min-height: 100vh;
}

#mobile-partypackage .mobile-title {
  font-size: x-large;
  margin-bottom: 2rem;
  color: var(--secoundary);
  font-weight: bold;
}

#mobile-partypackage .mobile-package {
  background-color: white;
  border: solid 1px var(--secoundary);
  border-radius: 2rem;
}

.mobile-package .tag{
  font-size: large;
  font-weight: bold;
  color: var(--secoundary);
}

.mobile-package .mobile-price {
  font-size: large;
}

#bronzepackage .card{
  background-color: transparent !important;
  border: none !important;
}

#goldpackage .card{
  background-color: transparent !important;
  border: none !important;
}

#diamondpackage .card{
  background-color: transparent !important;
  border: none !important;

}

#mobile #package-footer{
  background-color: var(--secoundary);
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  
}

#mobile-aboutus{
  margin-top:10rem;
}

.mobile-aboutus-title h1{
  font-size: x-large;
  font-weight: bold;
  color: var(--secoundary);
  margin-bottom: 3rem;
  margin-top: 15vh;
}

.mobile-card-title{
  font-size: large;
  color: var(--primary);
}
.mobile-card{
  height: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mobile-card-img1 {
  position: relative;
  background-image: url("img/card1.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 2rem;
}

.mobile-card-img2 {
  position: relative;
  background-image: url("img/card2.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 2rem;
}

.mobile-card-img3 {
  position: relative;
  background-image: url("img/card3.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 2rem;
}

.mobile-text h3{
  font-size: small;
  color: var(--primary);
  line-height: 2rem;
}

#mobile-carousel{
  margin-bottom: 5rem;
  position: relative;
  min-height: 100vh;
}
.carousel-title{
  margin-top: 5rem;
  font-size: x-large;
  color: var(--secoundary);
  font-weight: bold;
}

.carousel-caption h5, p{
  color: white;
  text-shadow: 3px 1px 2px rgba(128, 128, 128, 1);
}



.mobile-fella-title {
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  margin-top: 10rem;
  color: var(--secoundary);
}

.fella-card {
  background-color: var(--secoundary2);
  height: 15vh;
  padding-top: 2%;
  width: 80%;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.fella-pic {

  min-height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

.fella1{
  position: relative;
  background-image: url("img/fella1.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.fella2{
  position: relative;
  background-image: url("img/fella2.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.fella3{
  position: relative;
  background-image: url("img/fella3.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.fella4{
  position: relative;
  background-image: url("img/fella4.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.fella5{
  position: relative;
  background-image: url("img/fella5.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.fella-reviews h2{
  font-size: large;
  color: var(--bg);
}

.fella-reviews p {
  font-size: small;
  text-shadow: none !important;
  color: var(--bg);
}

#mobile #fella-footer{
  background-color: var(--secoundary);
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  
}



.searchBar div{
  background-color: rgba(255, 246, 237, .8);
  border: solid 2px #647B68;
}

.searchBar input {
  background-color: transparent;
  color: #647B68 !important;
  font-family: glacialBold;
  font-size: 10pt;
  padding-left: 2rem;
  width: 80%;
}

.searchBar input::placeholder {
  color: #647B68;
}

.searchBar button {
  background-color: #647B68;
  width: 10rem;
  border-color: #feede8;
}

.searchBar button img {
  width: 2rem;
}

#none {
  height: 100vh;
}

#none .banner{
  height: 100%;
  position: relative;
  background-image: url("img/none.JPG");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.none-btn {
  margin-left: 5rem;
  font-family: glacialBold;
  font-size: 20pt;
  color: var(--bg);
  background-color:  #92A99F;
}



/* .qoute-offset{
  background-color: transparent;
  height: 100%;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.qoute-offset:before { 
  content:'';
  border-top: 5px solid #92A99F;
  border-right: 5px solid #92A99F;
  border-top-right-radius:  8rem;
  width: 90%;
  height: 75%;
  margin: 10px 20px;
  top: -1.5rem;
  right: -2rem;
  position: absolute;
} */

/* .qoute-offset:after { 
  content:'';
  border-left: 5px solid #92A99F;
  border-bottom: 5px solid #92A99F;
  border-bottom-left-radius: 8rem;
  width: 90%;
  height: 75%;
  position: absolute;
  margin: 20px 10px;
  bottom: -2rem;
  left: -2rem;
}

.qoute{
  margin-left: 5rem;
  margin-top: 5rem;
  background-color:#feede8;
  position: relative;
  padding: 8rem 3rem;
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.qoute-open {
  position: absolute;
  width: 10rem;
  top: -3rem;
  left: -3rem;
  background: transparent;
  padding: 2rem;
}

.qoute-text {
  color: #92A99F;
  font-family: glacialBold;
  font-size: 15.5pt;
}

.qoute-close {
  position: absolute;
  width: 10rem;
  bottom: -3rem;
  right: -3rem;
  background: transparent;
  padding: 2rem;
} */




.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 10vh;
  width: 50%;
}

.package {
  background: white;
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10vh;
}

figure img {
  width: 100%;
}


.package h3 {
  font-size: 10pt;
  font-family: glacialBold;
  border-radius: 5rem;
  background: #CD7F32;
  color: white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: fit-content;
}


.package .price {
  margin: 1.5rem 0;
  font-size: 16pt;
  font-family: glacialBold;
}

.price span {
  font-size: 16pt;
  font-family: glacialBold;
  color: var(--secoundary);
}
.list {
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
}
.list p {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  text-shadow: none;
  font-family: glacial;
  color: var(--secoundary);
  font-size: 10pt;
}
.list p i {
  color: var(--secoundary);
  font-size: 16pt;
}
.package button {
  width: 100%;
  background: var(--primary);
  color: white;
  font-family: glacialBold;
  font-size: 16pt;
}

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}

.location-page-title {
  font-family: glacialBold;
  font-size: 23pt;
  margin-top: 5rem;
  color: var(--secoundary);
}

#faqs{
  height: 100vh;
  margin-top: 8vh;
}

.faqs-title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 23pt;
  font-family: glacialBold;
  color: var(--secoundary);
}

#mobile-faqs {
  margin-top: 8vh;
}

.mobile-faqs {
  margin-bottom: 2rem;
  background-color: var(--bg);
  border: var(--border);
  border-radius: 5rem;
}

.faqs-mobile-question {
  font-size: 12pt;
  font-family: glacialBold;
  color: var(--primary);
}

#placeorder {
  text-shadow: none;
  font-size: 12pt;
  font-family: glacial;
  color: var(--bg)
}

#ellaapp {
  text-shadow: none;
  font-size: 12pt;
  font-family: glacial;
  color: var(--bg)
}

#contactella {
  text-shadow: none;
  font-size: 12pt;
  font-family: glacial;
  color: var(--bg)
}

#payorder {
  text-shadow: none;
  font-size: 12pt;
  font-family: glacial;
  color: var(--bg)
}

#locateella {
  text-shadow: none;
  font-size: 12pt;
  font-family: glacial;
  color: var(--bg)
}

#faqs-footer {
  position: relative;
  margin-bottom: 4rem;
  background-color: var(--secoundary);
  padding: 1rem 0;
}

#faqs-footer button {
  font-size: 23pt;
  font-family: glacialBold;
  color: var(--secoundary);

}

#mobile-location .container {
  width: 100vw;
  margin-top: 10vh;
  overflow-x: scroll;
}

#mobile-location .container::-webkit-scrollbar {
  height: .2rem;
}



.location-mobile-title h1 {
  margin-top: 5rem;
  font-size: 16pt;
  font-family: glacialBold;
  color: var(--secoundary);
}

#mobile-location .searchBar {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

#mobile-location input {
  font-size: 10pt !important;
}

.location-icon img{
  width: 5rem;
}

.inner-location {
  width: 200%;
}



.mobile-location-caption h1{
  font-size: 10pt;
  font-family: glacialBold;
  color: var(--primary);
}

.mobile-location-caption h2 {
  font-size: 10pt;
  font-family: glacial;
  color: var(--primary);
}

.location-mobile-button {
  font-size: 10pt;
  font-family: glacialBold;
  color: var(--bg);
  background-color: var(--primary);
  margin-bottom: 2rem;
  border-radius: .3rem;
}

#mobile-contact {
  height: auto !important;
  width: 100vw;
}

#mobile-contact input {
  font-size: 10pt;
}

#mobile-contact .contact-title {
  font-size: 16pt !important ;
}

#mobile-contact label{
  font-size: 10pt !important;
}

#mobile-contact .contact-form {
  width: 98% !important;
}

#mobile-contact .contact-submit {
  font-size: 12pt !important;
}

#location-mobile-footer {
  background-color: var(--secoundary); 
}

#location-mobile-footer .mobile-footer-button {
  font-size: 12pt !important;
  font-family: glacialBold;
  color: var(--secoundary);
}


/* carousel */

@keyframes heartbeat {
  0% {
    transform: scale(0);
 }
  25% {
    transform: scale(1.2);
 }
  50% {
    transform: scale(1);
 }
  75% {
    transform: scale(1.2);
 }
  100% {
    transform: scale(1);
 }
}
#carousel {
  color: var(--secoundary) !important;
  background-color: var(--bg);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 1200px;
}

#carousel svg{
  color:  var(--secoundary) !important;
}
.slider-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
}
.slider-container .bullet-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container .bullet-container .bullet {
  margin-right: 14px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--secoundary);
  opacity: 0.5;
}
.slider-container .bullet-container .bullet:last-child {
  margin-right: 0px;
}
.slider-container .bullet-container .bullet.active {
  opacity: 1;
}
.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  overflow: hidden;
  transform: translate(-40%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: var(--secoundary);
  background-color: var(--secoundary2);
  font-size: 18px;
  font-weight: 600;
  font-family: "karla";
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  float: left;
  margin: 16px 0 0 20px;
  font-size: 20px;
  font-family: "karla";
  font-weight: 400;
  color: var(--secoundary);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  float: right;
  margin: 16px 20px 0 0;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #ff6060;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
}
.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: var(--secoundary);
}
.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(-25%) scale(0.8);
}
.slider-container .slider-content .slider-single.preactive .slider-single-download {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-title {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactive .slider-single-download {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-title {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
  animation-name: heartbeat;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: var(--secoundary) !important;
  transform: translateY(-50%);
  padding: 20px 15px;
  
  margin-right: -2px;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  color: var(--secoundary);
  transform: translateY(-50%);
  padding: 20px 15px;
  
  margin-left: -2px;
}
.slider-container .not-visible {
  display: none !important;
}

.card-innerC1 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel1.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.card-innerC2 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel2.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.card-innerC3 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel3.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.card-innerC4 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel4.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.card-innerC5 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel5.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.card-innerC6 {
  position: relative;
  height: 100%;
  background-image: url("img/carousel6.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  border: solid 4px var(--secoundary);
  border-radius: 5rem;
}

.mark{
  background-color: yellow;
}

 .white-icon {
  color: #fff !important;
}

.cpr {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--primary);
  font-family: glacial;
  text-shadow: none;
}

.f-links {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.f-links a {
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.6rem;
}

.tagline {
  box-shadow: none !important;
  text-shadow: none !important;
  font-family: glacial
}

.tagline-head {
  font-family: glacialBold;
}

.tagline-head, .tagline {
  color: var(--bg) !important;
}

.sect {
  margin-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.sect .right {
  background-color: #92A8A0 !important;
  color: var(--bg) !important;
}
.right-desc {
  padding-left: 10rem;
  padding-right: 10rem;
  color: var(--bg) !important;
  font-size: 16pt !important;
}

.sect-btn {
  position: absolute;
  bottom: -7rem;
}

.sect-head {
  font-size: 30pt !important;
}

.ella-download{
  background-color: #92A8A0 !important;
  padding-right: 10rem;
  padding-left: 10rem;
}

.vid-btn {
  width: 30rem;
}

.about-flavours {
  color: black !important;
  text-shadow: none !important;
  font-family: glacial;
}

.flavours-head {
  font-family: glacialBold;
  color: var(--secoundary2) !important;
}